{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME PAGE</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <!-- Navbar added -->
    <div class="container-fluid" style="margin: 10px;">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Your Guide</a>
        <!-- Example split danger button -->
  <div class="btn-group ">
    <button type="button" class="btn btn-primary">Features</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Home</a>
      <a class="dropdown-item" href="#">About</a>
      <a class="dropdown-item" href="#">Contact</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Rate Us</a>
    </div>
  </div>
      </nav>
</div>
<div class="mid_section" style="background-image: url("{% static 'images/image1.jpg'%}");">
  <h1>Welcome to The_LOCAL_GUIDE</h1>
</div>
  <!-- Map section -->
    <div id='map' style='width: 100%; height: 100%; position:absolute; overflow:visible;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYW55dXNlcm5hbWUiLCJhIjoiY2tkZGgyaHBxMGM0dTJxbnJsZjJzenAybCJ9.0msTET9V9ZehzJqfK55u3A';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-streets-v11',
    center: [77.1025,28.7041],
    zoom: 4.5
  });
</script>

<!-- Additional Js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
